:host ::ng-deep span.p-ripple.p-element.p-button.p-component.p-fileupload-choose.p-button-icon-only {
    border-radius: 0px;
}

:host ::ng-deep button.p-element.p-ripple.p-button-rounded.p-button.p-component.p-button-icon-only {
    border-radius: 0;
    height: 100%;
}

.tab {
    padding: 0px 5px 15px 0;
}

.tab_item {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.tab_item.active {
    color: #70bdfc;
    border-bottom: 2px solid #70bdfc;
}

.tab_item.active:hover {
    color: #70bdfc;
    border-bottom: 2px solid #70bdfc;
}

.tab_item:hover {
    color: #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
}